[General]
name = Open English Bible
projectDir = /home/russell/unsynced/Open-English-Bible

[HTML]
frontLogo = ${General:projectDir}/support/html-logo.png
websiteURL = https://openenglishbible.org
websiteName = Open English Bible

[Context]
coverPage = ${General:projectDir}/support/context-cover.pdf
saveTeX = false
bodyFontSize = 10.5pt

[ePub]
cover = ${General:projectDir}/support/epub-cover.jpg
title = Open English Bible
authors = OEB Team
calibre=/bin