[General]
name = Open English Bible
projectDir = /Users/russellallen/Dropbox/oeb/Open-English-Bible

[HTML]
frontLogo = ${General:projectDir}/support/html-logo.png
websiteURL = http://openenglishbible.org
websiteName = Open English Bible

[Context]
coverPage = ${General:projectDir}/support/context-cover.pdf

[ePub]
cover = ${General:projectDir}/support/epub-cover.jpg
title = Open English Bible
authors = OEB Team